!/patches*
!*.patch
!*.diff
!series
*.debhelper*
*.pyc
/*.bug-presubj
/*.lintian-overrides
/*.maintscript
/*.postinst
/*.postrm
/*.preinst
/*.prerm
/*.substvars
/*-modules-*-di*
/*-tmp
/build/
/config.defines.dump
/control
/control.md5sum
/files
/hyperv-daemons/
/kernel-image-*-di*
/libbpf*/
/libcpupower*/
/liblockdep*/
/libusbip-dev/
/linux-*/
/lockdep/
/rules.gen
/stamps/
/tests/control
/tmp/
/usbip/
