[Unit]
Description=Hyper-V volume shadow copy service (VSS) daemon
ConditionPathExists=/dev/vmbus/hv_vss
Conflicts=hyperv-daemon.hv-vss-daemon.service

[Service]
ExecStart=/usr/sbin/hv_vss_daemon -n

[Install]
WantedBy=multi-user.target
