[Unit]
Description=Hyper-V key-value pair (KVP) daemon
Conflicts=hyperv-daemon.hv-kvp-daemon.service
BindsTo=sys-devices-virtual-misc-vmbus\x21hv_kvp.device

[Service]
ExecStart=/usr/sbin/hv_kvp_daemon -n

[Install]
WantedBy=multi-user.target
